@import '_track';
@import '_player';
@import '_singleTrack';
@import '_loader';
@import '_nav';

body {
  background: #252424 !important;
  color: white !important;
  font-family: 'Work Sans', sans-serif;
}

.container-fluid,
.col-md-12 {
  padding: 0px !important;
}

.col-md-3 {
  display: inline-block;
}

.track-container {
  margin-bottom: 100px;
  margin-top: 4rem;
}
